DOTARadarButton
{
	visibility: collapse;
}

DOTARadarButton.ShowRadar
{
	visibility: collapse;
}

#RadarIcon
{
		visibility: collapse;
}

.CoolingDown #RadarIcon
{
		visibility: collapse;
}

DOTARadarButton:hover #RadarIcon
{
	visibility: collapse;
}

DOTARadarButton.CoolingDown:hover #RadarIcon
{
	visibility: collapse;
}


DOTARadarButton:active #RadarIcon
{
    	visibility: collapse;
}

#CooldownCover
{
		visibility: collapse;
}

.CoolingDown #CooldownCover
{
	visibility: collapse;
}