#Ignore everything
*.vcss_c
*.vjs_c
*.vxml_c
game/dota_addons/legion_td/materials/*
game/dota_addons/legion_td/panorama/layout/*
game/dota_addons/legion_td/panorama/scripts/*
game/dota_addons/legion_td/panorama/styles/*
game/dota_addons/legion_td/tools_thumbnail_cache.bin
game/dota_addons/legion_td/tools_asset_info.bin

*.vpcf_c
game/dota_addons/legion_td/scripts/vscripts/libs/storage_settings.kv
game/dota_addons/legion_td/server_log\.txt

game/dota_addons/legion_td/rich_presence_persistent_data\.txt

*.tmp

game/dota_addons/legion_td/cache_67698596\.soc
