#Ignore everything
*.vcss_c
*.vjs_c
*.vxml_c
game/dota_addons/legion_td/materials/*
game/dota_addons/legion_td/panorama/*
game/dota_addons/legion_td/tools_thumbnail_cache.bin
game/dota_addons/legion_td/tools_asset_info.bin

*.vpcf_c