@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.OverthrowGameInfo {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/custom_game/game_info/loading.png");
    background-size: 100% 100%;
}

Label {
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}

#Title {
    flow-children: right;

    margin-left: -5px;
    margin-top: 25px;
}

#TitleName {
    color: cyan;
    font-size: 64px;
    text-transform: uppercase;
    vertical-align: center;
}

#LegionTitle {
    font-size: 70px;
    margin-top: 32px;
    margin-left: 20px;
    text-transform: uppercase;
    background-color: #000000BA;
    color: white;
    font-weight: semi-bold;
    text-shadow: 1px 1px 2px 3.0 #000000;
    font-family: defaultFont;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}