@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.OverthrowGameInfo
{
   width: 100%;
   height: 100%;
   background-image: url("file://{images}/custom_game/game_info/loading.jpg");
}

.OverthrowGameInfo2
{
  height: 803px;
  width: 610px;
  margin-top: 120px;
  margin-left: 20px;
  padding: 8px;
  border-radius: 16px;
  flow-children: down;
  background-color: gradient( linear, 0% 0%, 0.1% 0%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
}


Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}

#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: cyan;
    font-size: 64px;
    margin-left: -5px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#LegionTitle
{
	font-size: 70px;
	font-weight: bold;
	margin-top: 32px;
	margin-left: 20px;
	color: white;
	text-transform: uppercase;
}
#ThroneText,
#CoinsText,
#ItemsText
{
	width: fill-parent-flow(1.0);
}

.Header
{
	font-size: 35px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
	color: yellow;
}


#ObjectiveHeader
{
	margin-top: 5px;
	margin-left: 10px;
	color: yellow;
	font-size: 35px;
}

#BriefDescription
{
	margin-left: 25px;
	color: white;
	font-size: 20px;
}

#HowToPlayHeader
{
	margin-left: 10px;
	color: yellow;
	font-size: 35px;	
}

#ThroneRow
{
	margin-top: -50px;
}

#ThroneText
{
	vertical-align: center;
	margin-left: -35px;
	text-align: right;
	color: white;
	font-size: 20px;
}

#ThroneImage
{
	vertical-align: center;
    width: 200px;
    height: 200px;
}

#CoinsRow
{
	margin-top: -50px;
	margin-left: 20px;
}

#CoinsImage
{
    width: 200px;
    height: 200px;
	vertical-align: center;
	margin-left: -40px;
}

#CoinsText
{
	vertical-align: center;
	font-size: 20px;
	color: white;
}

#ItemsRow
{
}

#ItemsImage
{
	width: 200px;
	margin-left: 10px;
	margin-top: -75px;
}

#ItemsText
{
    margin-top: 40px;
	margin-left: 0px;
	text-align: right;
	color: white;
	font-size: 20px;
}

#ItemsText2
{
    margin-top: 60px;
	margin-left: -247px;
	text-align: right;
	color: white;
	font-size: 20px;
}

#TipsHeader
{
	margin-left: 13px;
    margin-top: -60px;
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-left: 5px;
}

.TipText
{
	margin-left: 16px;
    margin-top: 0px;
	color: white;
	font-size: 20px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}


Label .midas_throne,
Label .overboss,
Label .treasure
{
    color: #cccccc;
    font-weight: bold;
}

Label .items,
Label .gold,
Label .xp
{
    color: #fcaf3d;
    font-weight: bold;
}

