.ContributorPanel {
    flow-children: right-wrap;
    horizontal-align: center;
}

.ContributorLabel {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
	horizontal-align: center;
	color: white;
	padding: 10px;
}

DOTAAvatarImage {
    width: 64px;
    height: 64px;
    background-color: black;
    vertical-align: top;
    horizontal-align: center;
    box-shadow: black 0px 0px 5px 2px;
}

.CreatorPlayer {
    height: 120px;
    width: 120px;
    background-color: #1A1A1A;
    box-shadow: black 0px 0px 10px 2px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

#PlayerName {
    color: white;
    vertical-align: bottom;
    horizontal-align: center;
    text-shadow: 2px 2px 2px black;
    white-space: nowrap;
	margin-bottom: 15px;
}
