.RoundCountLeft {
    margin-left: 6px;
    margin-top: 0px;
    margin-right: -40px;
    flow-children: down;
}

.RoundPanel {
    flow-children: down;
    width: 100px;
    height: 100px;
    transition-property: height;
    transition-duration: 0.3s;

	background-color: #0E141Acc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.RoundPanel.BetweenRounds {
    height: 150px;
}

#Round {
    margin-top: 2px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-overflow: clip;
	
	color: #fff;
    font-weight: semi-bold;
    text-shadow: 0px 0px 4px #CD6BFB;
}

#CurrentRound {
    margin-top: -15px;
    horizontal-align: center;
    vertical-align: middle;
    font-size: 60px;
    color: #fff;
    font-weight: semi-bold;
    text-shadow: 0px 0px 4px #CD6BFB;
    text-overflow: clip;
}

#Time {
    margin-top: -13px;
    font-size: 18px;
    color: #fff;
    font-weight: semi-bold;
    text-align: center;
    width: 100%;
    text-overflow: clip;
}

#CountDown {
    margin-top: 3px;
    font-size: 18px;
    color: #fff;
    font-weight: semi-bold;
    text-align: center;
    width: 100%;
    text-overflow: clip;
    visibility: collapse;
}

.BetweenRounds #CountDown {
    visibility: visible;
}
