.Hud {
  width: 100%;
  height: 100%;
  flow-children: down;
}

.DontKnow {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.InfoPanel {
  horizontal-align: right;
  vertical-align: bottom;
  width: 205px;
  height: 170px;
} 

.TangoCount {
  width: 160px;
  height: 25px;
  horizontal-align: left;
  margin-top: 16px;
  margin-left: 100px;
}

.DebugPanel {
  opacity: 0;
}

.IncomePanel {
  margin-left: 16px;
  margin-top: 48px;
  font-size: 20px;
  color: #111111;
  text-shadow: 2px 2px 2px #000000;
  font-weight: bold;
}

.Incomes {
  margin-top: 24px;
  font-size: 20px;
  font-weight: normal;
}

.FoodPanel {
  margin-top: 100px;
  margin-left: 16px;
}

#incomeLabel {

}

#goldIncome {
  color: #be9c23;
}

#tangoIncome {
  margin-left: 95px;
  color: #27c13f;
}

#foodImage {
  width: 20px;
  height: 20px;
}

#foodLabel {
  width: 100px;
  text-align: left;
  margin-left: 30px;
  color: #a2322b;
}

#tangoimage {
  width: 41px;
  height: 30px;
  margin-left: 5px;
}

#tangos {
  margin-top: 2px;
  margin-left: 44px;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000000;
  color: #27c13f;
  text-align: left;
}

#ErrorPanel {
  width: 1000px;
  height: 100px;
  horizontal-align: center;
  vertical-align: bottom;
  margin-bottom: 300px;
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.5);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  visibility: collapse;
}

.error_appeared #ErrorPanel {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  visibility: visible;
}

#ErrorMessage {
  horizontal-align: center;
  vertical-align: middle;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  color: #cf350c;
  text-shadow: 2px 2px 2px #000000;
}

.info-background {
  box-shadow: #00000022 0px 0px 16px 0px;
}

#clockPanelInjection {
  horizontal-align: center;
  vertical-align: top;
  width: 100px;
  height: 150px;
}


.SkipButtonPanel {
  horizontal-align: right;
  vertical-align: bottom;
  height: 40px;
  width: 100px;
  visibility: visible;
  box-shadow: #54545480 0px 0px 8px 0px;
  border-radius: 3px;
  margin-right: 105px;
}

.SkipPressed .SkipButtonPanel  {
  visibility: collapse;
}

.ButtonLabel {
  horizontal-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}

.SkipButtonPanel2 {
  horizontal-align: right;
  vertical-align: bottom;
  height: 40px;
  width: 100px;
  visibility: visible;
  box-shadow: #54545480 0px 0px 8px 0px;
  border-radius: 3px;
  margin-right: 105px;
  visibility: collapse;
}

.SkipPressed .SkipButtonPanel2  {
  visibility: visible;
}


.ButtonLabel2 {
  horizontal-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
  font-size: 15px;
}


#test {
  width: 400px;
  height: 400px;
}

.GoldCount {
  margin-left: 16px;
  margin-top: 16px;
  color: gold;
  flow-children: right;
   margin-left: 10px;
}

#gold {
  color: gold;
  font-size: 20px;
  margin-left: 2px;
  text-shadow: 2px 2px 2px #000000;
}

#tangoimage {

}
