.Hud {
    width: 100%;
    height: 100%;
    flow-children: down;
}

.DontKnow {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.InfoPanel {
    horizontal-align: right;
    vertical-align: bottom;
    width: 205px;
    height: 170px;
	
	background-image: url("s2r://panorama/images/hud/international_bg_png.vtex");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.TangoCount {
    width: 160px;
    height: 25px;
    horizontal-align: left;
    margin-top: 16px;
    margin-left: 100px;
}

.DebugPanel {
    opacity: 0;
}

.IncomePanel {
    margin-left: 16px;
    margin-top: 48px;
    font-size: 20px;
    color: #111111;
    text-shadow: 2px 2px 2px #000000;
    font-weight: bold;
}

.Incomes {
    margin-top: 24px;
    font-size: 20px;
    font-weight: normal;
}

.FoodPanel {
    margin-top: 100px;
    margin-left: 16px;
}

#incomeLabel {}

#goldIncome {
	align: center top;
	margin-top: 6px;
	margin-left: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: #be9c23;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
}

#tangoIncome {
	align: center top;
	margin-top: 6px;
	margin-left: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: #27c13f;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
}


#foodImage {
    width: 20px;
    height: 20px;
}

#foodLabel {
    width: 100px;
    text-align: left;
    margin-left: 30px;
    color: #a2322b;
}

#tangoimage {
    width: 41px;
    height: 30px;
    margin-left: 5px;
}

#ErrorPanel {
    width: 1000px;
    height: 100px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 300px;
    opacity: 0;
    transform: scaleX(1.5) scaleY(1.5);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    visibility: collapse;
}

.error_appeared #ErrorPanel {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#ErrorMessage {
    horizontal-align: center;
    vertical-align: middle;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    color: #cf350c;
    text-shadow: 2px 2px 2px #000000;
}

.info-background {
    box-shadow: #00000022 0px 0px 16px 0px;
}

#clockPanelInjection {
    horizontal-align: center;
    vertical-align: top;
    width: 100px;
    height: 150px;
}


.SkipButtonPanel {
	width: 700px;
	opacity: 1;
	
	height: fit-children; 
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-right: -80px;
	
	transition-property: brightness;
	transition-duration: 0.2s; 
	transition-timing-function: ease-in;
}

#SkipButton {
	height: 44px;
    width: 200px;

    horizontal-align: right;
    vertical-align: center;
    margin-right: 105px;
	
	font-size: 50px;
	
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #307663 ), to( #245a4b ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	box-shadow: #F78F9015 -4px -4px 8px 8px;
	
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000088;
	background-size: 100%;
	border: 1px solid #aaaaaa;
    border-radius: 8px;
}

#SkipButton2 {
	height: 44px;
    width: 200px;

    horizontal-align: right;
    vertical-align: center;
    margin-right: 105px;
	
	font-size: 50px;
	
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	box-shadow: #F78F9015 -4px -4px 8px 8px;
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000088;
	background-size: 100%;
	border: 1px solid #aaaaaa;
    border-radius: 8px;
}


.SkipButtonPanel:hover {
    brightness: 2;
}

.SkipPressed .SkipButtonPanel {
    visibility: collapse;
}

.ButtonLabel {
    horizontal-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
	font-size: 30px;
	text-transform: uppercase;
}

.SkipButtonPanel2 {
	width: 700px;
	opacity: 1;
	
	height: fit-children; 
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-right: -80px;
	
	transition-property: brightness;
	transition-duration: 0.2s; 
	transition-timing-function: ease-in;
	
	visibility: collapse;
}

.SkipPressed .SkipButtonPanel2 {
    visibility: visible;
}


.ButtonLabel2 {
    horizontal-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
	font-size: 20px;
	text-transform: uppercase;
}

.ButtonLabel3 {
    horizontal-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
	font-size: 15px;
}


#test {
    width: 400px;
    height: 400px;
}

#tangoimage {}

#ResourcePanel
{
	margin-right: 131px;
	margin-bottom: 0px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: -2;
	width: 131px;
	height: 140px;
	background-color: #111920bb;
	background-size: 100%;
	border-top: 1px solid #ffffff11;
	border-bottom: 1px solid #ffffff11;
	 box-shadow: #54545480 0px 0px 8px 0px;
}

#IncomePanel
{
	margin-right: 0px;
	margin-bottom: 0px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: -2;
	width: 131px;
	height: 140px;
	background-color: #111920bb;
	background-size: 100%;
	border-top: 1px solid #ffffff11;
	border-bottom: 1px solid #ffffff11;
	 box-shadow: #54545480 0px 0px 8px 0px;
}

#ResourcesLabel
{
	align: center top;
	margin-top: 4px;
	margin-left: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
}

#IncomeLabel
{
	align: center top;
	margin-top: 4px;
	margin-left: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px 1.2 black;
	font-family: defaultFont;
}

#LumberLabelPanel
{
	width: 80px;
    height: 36px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ) );
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
    brightness: 1;
    z-index: -1;
    box-shadow: #000000aa 0px 0px 2px 2px;
    align: right bottom;
    margin-bottom: 37px;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
}

#LumberIconPanel 
{
	width: 50px;
	height: 36px;
	background-color: #111920bb;
	background-size: 100%;
	margin-bottom: 37px;
	vertical-align: bottom;
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	opacity: 1;
	tooltip-position: left;
}

#tangos
{
  color: white;
  font-size: 20px;
  font-family: Radiance;
  font-weight: bold;
  text-align: left;
  vertical-align: center;
  horizontal-align: left;
  margin-left: 5px;
  text-shadow: 0px 0px 3px 3.0 #000000;
  margin-top: 4px;
  text-overflow: shrink;
}

#LumberIcon 
{ 
	background-size: 100% 100%;
    width: 36px;
    height: 26px;
    horizontal-align: center;
    vertical-align: center;
}

#GoldLabelPanel
{
	width: 80px;
    height: 36px;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #e5c100 ), to( #e5c100 ) );
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
    brightness: 1;
    z-index: -1;
    box-shadow: #000000aa 0px 0px 2px 2px;
    align: right bottom;
    margin-bottom: 74px;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
}

#GoldIconPanel 
{
	width: 50px;
	height: 36px;
	background-color: #111920bb;
	background-size: 100%;
	vertical-align: bottom;
	margin-bottom: 74px;
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	tooltip-position: left;
}

#gold
{
  color: white;
  font-size: 20px;
  font-family: Radiance;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 0px 3px 3.0 #000000;
  vertical-align: center;
  horizontal-align: left;
  margin-left: 5px;
  margin-top: 4px;
  text-overflow: shrink;
}

#GoldIcon 
{   
	background-size: 100% 100%;
    horizontal-align: center;
    vertical-align: center;
}

#FoodLabelPanel
{
	width: 80px;
    height: 36px;
    background-size: 100% 100%;
	background-color:gradient( linear, 0% 0%, 0% 100%, from( #BF6819 ), to( #BF6819 ) );
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
    brightness: 1;
    z-index: -1;
    box-shadow: #000000aa 0px 0px 2px 2px;
    align: right bottom;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
}

#FoodIconPanel 
{
	width: 50px;
	height: 36px;
	background-color: #111920bb;
	background-size: 100%;
	vertical-align: bottom;
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	tooltip-position: left;
}

#foodLabel
{
  color: white;
  font-size: 20px;
  font-family: Radiance;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 0px 3px 3.0 #000000;
  vertical-align: center;
  horizontal-align: left;
  margin-left: 5px;
  margin-top: 4px;
  text-overflow: shrink;
}

#FoodIcon 
{   
	background-size: 100% 100%;
    width: 32px;
    height: 32px;
    horizontal-align: center;
    vertical-align: center;
}

#GoldIncomePanel
{
	width: 128px;
    height: 36px;
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000088;
    brightness: 1;
    z-index: -1;
    align: center bottom;
    margin-bottom: 74px;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
}

#LumberIncomePanel
{
	width: 128px;
    height: 36px;
    brightness: 1;
    z-index: -1;
	border-top: 1px solid #ffffff22;
	border-bottom: 1px solid #00000088;
    align: center bottom;
    margin-bottom: 37px;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
}

#ShopButton 
{
	width: 128px;
    height: 36px;
    brightness: 1;
    z-index: -1;

    align: right bottom;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
}

#TopLeftMenu {
	width: 775px;
	height: 149px;
	margin-top: -30px;
	margin-left: -260px;
	
	background-size: 100%;
	opacity: 1;
	transition-duration: .05s;
	transition-property: background-image;
	transition-timing-function: ease-in-out;
}


.TopLeftButton {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	opacity: 0.7;
	wash-color: #CCDDFF;
	
	transition-property: opacity;
	transition-duration: 0.1s;
	tooltip-position: bottom;
}

@keyframes 'blinker' {
	50% {
			opacity: 0.3;
	}
}

#InformationButton {
	background-image: url("s2r://panorama/images/custom_gameinfo_icon_psd.vtex");
	background-size: 26px;
	background-repeat: no-repeat;
	margin-top: 44px;
	margin-left: 420px;
	wash-color: #CCDDFF;
	
	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 15;
	

}

#InformationButton:hover {
	opacity: 1.3;
}

#HealthBarsHolder {
	width: 300px;
	height: 80px;
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	margin-top: 300px;
	margin-left: -1px;
	align: left center;
    border-radius: 8px;
}

#RadiantKing {
	width: 32px;
	height: 32px;
	background-size: 100%;
	margin-top: 4px;
	margin-left: 2px;
	z-index: 99999;
	tooltip-position: bottom;
}

#DireKing {
	width: 32px;
	height: 32px;
	background-size: 100%;
	background-image: url("file://{images}/custom_game/DireKing.png"); 
	margin-top: 42px;
	margin-left: 2px;
	z-index: 99999;
	tooltip-position: bottom;
}

#EmptyBarRadiant {
	width: 250px;
	height: 20px;
	background-color: transparent;
	margin-top: 10px;
	margin-left: 40px;	
	border-radius: 8px;
	border: 1px solid #aaaaaa;
}

#EmptyBarDire {
	width: 250px;
	height: 20px;
	background-color: transparent;
	margin-top: 50px;
	margin-left: 40px;	
	border-radius: 8px;
	border: 1px solid #aaaaaa;
}

.ProgressBarLeft {
	width: 100%;
	height: 100%;
	background-color: green;
	border-radius: 8px;
}

#HealthBarRadiant {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

#HealthBarDire {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

#HealthPercentageRadiant {
	align: center center;
	font-size: 15px;
	color: white;
	margin-top: 1px;
}

#HealthPercentageDire {
	align: center center;
	font-size: 15px;
	color: white;
	margin-top: 1px;
}