@define BACKGROUND_COLOR: #1A1A1A;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.FlyoutScoreboardRoot
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 80px;
	flow-children: down;
	padding: 10px;

	transform: translatex( -600px );
	transition-property: transform;
	transition-duration: 0.1s;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
	transform: translatey( 0px );
}

#TeamsContainer
{
	flow-children: down;
	horizontal-align: center;
}

.FlyoutTeam
{
	margin-top: 8px;
}

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.local_player_team.FlyoutTeam
{
	z-index: 99;
}

.FlyoutTeamData
{
	flow-children: right;
}

.TeamInfo
{
	margin-top: 1px;
	height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
	width: 100%;
	height: 100%;
}

#TeamColorOverlay
{
	background-color: gradient( linear, 80% 0%, 100% 0%, from( #00000000 ), to( #000000FF ) );
	width: 100%;
	height: 100%;
}

.FlyoutPlayer
{
	flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
	flow-children: down;
}

.local_player_team #PlayersContainer
{
	box-shadow: fill #44444490 -1px -1px 1px 2px;
}

.TeamId
{
	flow-children: right;
}

#TeamLogo
{
	vertical-align: top;
	horizontal-align: right;
	height: 30px;
	width: 30px;
	margin-top: 2px;
	margin-right: 2px;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 42px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: -3px;
	text-overflow: clip;
}

.one_player #TeamScore
{
	font-size: 32px;
}


#TeamScorePanel
{
	margin-top: 1px;
	margin-left: 286px;
	width: 49px;
	height: 100%;
	background-color: BACKGROUND_COLOR;
}

.Legend
{
	flow-children: right;
}

.Legend Label
{
	text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
	color: #e3e3e3;
}

.PlayerRow
{
	height: 40px;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 48px;
}

#HeroIcon
{
	vertical-align: middle;
	border: 1px solid black;
}

#LevelContainer,
#KillsContainer,
#LeaksContainer,
#GoldIncomeContainer,
#TangoIncomeContainer,
#TowerValueContainer
{
	height: 100%;
}

.ScoreboardPanel
{
	background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-left: 1px;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
}

.is_local_player .ScoreboardPanel
{
	//    background-color: BACKGROUND_COLOR_WHITE;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#Level
{
	vertical-align: center;
	horizontal-align: center;
	color: #898b8c;
}

#Kills,
#Leaks,
#GoldIncome,
#TangoIncome,
#TowerValue
{
	vertical-align: center;
	font-size: 18px;
	text-align: center;
	margin-top: 3px;
	width: 100%;
}

#PlayerName
{
	color: white;
	font-size: 16px;
	margin-bottom: -4px;
	margin-top: 0px;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	color: #898b8c;
	font-size: 14px;
	text-shadow: 2px 2px 2px black;
	margin-top: 4px;
}
#MuteButton
{
	margin-right: 0px;
	margin-top: 0px;
	horizontal-align: right;
	vertical-align: top;
	width: 18px;
	height: 18px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url( "file://{images}/custom_game/button_audio_on.psd" );
	visibility: collapse;
	opacity: 0.8;
}

.local_player_teammate #MuteButton
{
	visibility: visible;
}

#MuteButton:hover
{
	opacity: 1;
}

.player_muted #MuteButton
{
	background-image: url( "file://{images}/custom_game/button_audio_off.psd" );
}

#TeammateGoldAmount
{
	margin-right: -1px;
	margin-bottom: -2px;
	vertical-align: bottom;
	horizontal-align: right;
	color: #ffd300;
	font-size: 14px;
	text-shadow: 2px 2px 2px black;
	visibility: collapse;
}

.local_player_team #TeammateGoldAmount
{
	visibility: visible;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	flow-children: down;
	padding-left: 8px;
}

.is_local_player #Kills,
.is_local_player #Leaks,
.is_local_player #GoldIncome,
.is_local_player #TangoIncome,
.is_local_player #Level,
.is_local_player #TowerValue,
.is_local_player #HeroName
{
	color: white;
}

.ScoreCol_TeamInfo
{
	width: 30px;
}

.ScoreCol_PlayerDetails
{
	width: 150px;
}

.ScoreCol_Hero
{
	width: 75px;
}

.ScoreCol_TeamScore
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Kills,
.ScoreCol_Leaks,
.ScoreCol_Gold_Income,
.ScoreCol_Tango_Income,
.ScoreCol_Tower_Value
{
	width: 60px;
	text-align: center;
}

#SettingsContainer {
	width: 100%;
	background-color: #222;
	margin-top: 4px;
	margin-left: 31px;
	margin-right: 1px;
	padding: 4px;
}
