@keyframes 'blinker' {
    50% {
        opacity: 0.3;
    }
}

#PopupWindow
{
	width: 1200px;
	height: 676px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
	border: 1px solid #5e6869;	
	align: center center;
	visibility: collapse;
}

#BackgroundImage
{
	horizontal-align: center;
	width: 1600px;
	height: 676px;
	background-image: url("file://{images}/custom_game/spring_cleaning.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -90px;
}

#Contents
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
}

#Title
{
	font-weight: semi-bold;
    color: gradient( linear, 0% 0%, 0% 100%, from( #fff7e8 ), to( #9e8364 ) );
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px 2.0 black;
}

#Message
{
	color: #ccc;
	text-shadow: 0px 0px 4px 2.0 black;
	vertical-align: bottom;
	max-width: 600px;
	font-size: 20px;
}

#VersionNumber
{
	horizontal-align: right;
	width: 100%;
	text-align: right;
	margin-right: 20px;
	margin-top: 12px;
	font-size: 60px;
	opacity: 1.5;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff7e8 ), to( #9e8364 ) );
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 0px 0px 8px 2.0 black;
}

#Buttons
{
	vertical-align: bottom;
	horizontal-align: right;
	padding: 20px;
}

#Buttons TextButton
{
	margin-left: 20px;
}

#DiscordButton
{
	width: 325px;
	height: 100px;
	padding: 4px 12px 4px 12px;
    horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7289DA ), to( #7289DA ) );
	border-top: 1px solid #2C2F33;
	border-bottom: 1px solid #2C2F33;
	border-left: 1px solid #2C2F33; 
	border-right: 1px solid #2C2F33;
	border-radius: 8px;
	margin-top: 85px;
	margin-right: 75px;
	tooltip-position: bottom;
}

#DiscordButton:hover
{
	pre-transform-scale2d: 1.01;
    box-shadow: #000000ff 0px 0px 16px 0px;
}

#DiscordImage
{
	background-size: 100%;
	horizontal-align: center;
}

#StyleButtons
{
	width: 700px;
	opacity: 1;
	
	height: fit-children; 
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 170px;
	margin-right: -7px;

}

#NextButton
{
	horizontal-align: right;
	border-radius: 8px;
	height: 44px;
	background-image: url("s2r://panorama/images/textures/glassbutton_pink_psd.vtex");
	background-size: 100%;
	border: 0px solid transparent;
	padding-left: 16px;
	padding-right: 16px;
	
	transition-property: brightness, hue-rotation, background-image;
	transition-duration: 0.3s; 
	transition-timing-function: ease-in;
	
	animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
	
	tooltip-position: left;
}

#NextButton:hover
{
	brightness: 2;
}

