 .UnitButton {
  width: 90px;
  height: 90px;
  transition-property: transform;
  transition-duration: 0.1s;
  margin-left: 18px;
  margin-top: 5px;
}


#UnitTangoCostPanel {
  height: 18px;
}

.Hovered #UnitTangoCostPanel {
  height: 90px;
}

#TangoCostLabel {
  font-size: 17px;
  font-weight: bold;
}

#GoldIncomeLabel {
  color: gold;
  font-size: 18px;
  font-weight: bold;
}

#DescLabel {
  horizontal-align: center;
  vertical-align: top;
  margin-top: 45px;
  color: white;
  font-size: 14px;
}

#UnitTint {
  width: 130px;
  height: 150px;
  background-color: #981717A0;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  visibility: collapse;
}

#UnitTint.TintVisible {
  opacity: 1;
  visibility: visible;
}

#UnitTint.TintVisible.FadeTint {
  opacity: 0;
  visibility: visible;
}
