#DescLabel1,
#DescLabel2 {
  color: white;
  vertical-align: top;
  horizontal-align: center;
  font-size:  18px;
  margin-top: 75px;
}

#DescLabel1 {
  margin-top: 50px;
}

.ShopUnitRowPanel {
  flow-children: right;
  horizontal-align: center;
  width: fit-children;
}

.ShopButtonPanel {
  horizontal-align: right;
  vertical-align: bottom;
  height: 40px;
  width: 106px;
  box-shadow: #54545480 0px 0px 8px 0px;
  visibility: visible;
  border-radius: 3px;
}


#OuterShopPanel {
  horizontal-align: right;
  vertical-align: bottom;
  margin-bottom: 0px;
}

.TitlePanel {
  width: 100%;
  height: 50px;	
  background-color: #2F363D;
  margin-top: 0px;
  box-shadow: black 0px 0px 8px 0px;
  font-size: 16px;
  z-index: 1;
}

.TitlePanel Label {
  horizontal-align: center;
  vertical-align: middle;
  font-size: 28px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 4px;
  color: White;
}

#ShopPanel.ShopPanelVisible { 
  transform: translatex(395px);
  margin-bottom: 180px;
  visibility: visible;
  opacity: 1;
}

#ShopPanel {
  /* height: 800px; */
  margin-bottom: 180px;
  margin-right: 400px;
  transform: translatex(1500px);
  transition-property: transform;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 15px black;
  border-radius: 3px 0 0 3px;
  flow-children: down;
  border-radius: 8px;
}

#UnitPanel {
  horizontal-align: center;
  width: fit-children;
  padding: 8px;
  vertical-align: bottom;
  background-color: #1B1E21;
  box-shadow: inset 0px -2px 2px #212121;
  opacity: 1;
  flow-children: down;
}


#Upgrades {
  flow-children: right;
  vertical-align: middle;
  horizontal-align: center;
}

.UpgradeWrapper {
  width: 100%;
  flow-children: down;
  background-color: #1B1E21;
}

.Upgrade {
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 6px;
  transition-property: transform;
  transition-duration: 0.15s;
  box-shadow: fill #000000 0px 0px 8px 0px;
}


.TangoCostPanel {
  vertical-align: bottom;
  width: 130px;
  height: 21px;
  transition-property: height, background-color;
  transition-duration: 0.1s;
  background-color: #598307;
}

.Hovered .TangoCostPanel {
  height: 150px;
  background-color: #598307;
  opacity: 0.9;
  padding-top: 4px;
}

.TangoCost {
  vertical-align: top;
  horizontal-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.GoldIncome {
  horizontal-align: center;
  font-size: 18px;
  margin-top: 18px;
  margin-left: 2px;
  font-weight: bold;
  color: gold;
}