.TeamSelect {
    width: 100%;
    height: 100%;
}

#TeamSelectContainer {
    width: 100%;
    height: 100%;
    flow-children: right;
}

#TeamsSelectEmptySpace {
    width: fill-parent-flow(1);
}

@keyframes 'blinker' {
    50% {
        opacity: 0.5;
    }
}

.AdBanner {
    horizontal-align: center;
    width: 300px;
    height: fit-children;
    flow-children: down;
    pre-transform-scale2d: 1;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.AdBanner Label {
    horizontal-align: center;
    text-align: center;
    color: #ffffffaa;
}

.AdImage:hover {
    pre-transform-scale2d: 1.05;
    box-shadow: #000000ff 0px 0px 16px 0px;
}

.AdImage {
    box-shadow: #00000044 0px 0px 8px 0px;
    border-radius: 8px;
    horizontal-align: center;
    vertical-align: middle;
    transition-property: pre-transform-scale2d, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 0.12s;
    margin: 8px;
}

#DiscordImage {
    width: 260px;
    height: 80px;
}

#DiscordText {
    padding-top: 8px;
    horizontal-align: center;
    font-size: 20px;
}

#TeamsList {
    width: 400px;
    height: 950px;
    margin-top: 144px;
    flow-children: down;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    animation-name: TeamsListAppear;
    animation-duration: 0.75s;
}

@keyframes 'TeamsListAppear'

    {
    0% {
        transform: translatex(100%);
    }

    100% {
        transform: translatex(0px);
    }
}

#TeamsListGroup {
    width: 100%;
    vertical-align: center;
    flow-children: down;
    margin-top: -88px;
}

#TeamListHeader {
    visibility: collapse;
}

#TeamListHeaderLabel {
    visibility: collapse;
}

#TeamListLockedIcon {
    width: 16px;
    height: 16px;
    vertical-align: center;
    margin-bottom: 4px;
    visibility: collapse;
    wash-color: #aa0000ee;
}

.teams_locked #TeamListLockedIcon {
    visibility: visible;
}

#TeamsListRoot {
    width: 100%;
    flow-children: down;
    overflow: clip scroll;
}

#ShuffleTeamAssignmentButton {
    height: 32px;
    margin-top: 188px;
    margin-right: 10px;
    vertical-align: top;
    horizontal-align: right;
    flow-children: right;
    visibility: collapse;
}

.player_has_host_privileges #ShuffleTeamAssignmentButton {
    visibility: visible;
}

#ShuffleTeamAssignmentButton Label {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 5px;
    color: white;
    vertical-align: center;
}

#ShuffleTeamAssignmentButton:hover Label {
    color: white;
}

#ShuffleTeamAssignmentButton:active {
    sound: "ui_team_select_shuffle";
}

#ShuffleTeamAssignmentButtonNew Image {
    width: 22px;
    height: 22px;
    wash-color: orange;
    vertical-align: center;
}

#ShuffleTeamAssignmentButtonNew:hover Image {
    wash-color: white;
}

#GameAndPlayersRoot {
    width: 400px;
    height: 100%;
    flow-children: down;
}

#GameInfoPanel {
    margin: 16px;
    flow-children: down;
}

#GameModeNameLabel {
    visibility: collapse;
}

#MapInfoLabel {
    visibility: collapse;
}

#StartGameCountdownTimer {
    width: 96px;
    margin-top: 70px;
    horizontal-align: right;
    margin-right: -250px;
}

#TeamSelectTimer {
    margin-top: 8px;
    font-size: 48px;
    color: #CCCCCC;
    horizontal-align: center;
}

#StartGameCountdownTimer.countdown_inactive #TeamSelectTimer {
    opacity: 0.0;
}

#TimerBg {
    wash-color: #222222;
}

#TimerBg,
#TimerRing {
    width: 70px;
    height: 70px;
    margin-top: 2px;
    horizontal-align: center;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#TimerLabelBox {
    margin-top: 76px;
    height: 20px;
    width: 100%;
}

#TimerLabelAutoStart {
    color: #a9aaaa;
    font-size: 16px;
    text-transform: uppercase;
    horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.auto_start #TimerLabelAutoStart {
    visibility: visible;
}

#TimerLabelGameStart {
    color: #a9aaaa;
    font-size: 16px;
    text-transform: uppercase;
    horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.forced_start #TimerLabelGameStart {
    visibility: visible;
}


#StartGameCountdownTimer.countdown_inactive #TimerBg,
#StartGameCountdownTimer.countdown_inactive #TimerRing,
#StartGameCountdownTimer.countdown_inactive #TimerLabelAutoStart,
#StartGameCountdownTimer.countdown_inactive #TimerLabelGameStart,
    {
    opacity: 0;
}


#UnassignedPlayerPanel {
    width: 100%;
    height: fill-parent-flow (1);
    flow-children: down;
    margin-left: 0px;
    margin-right: 74px;
    margin-top: -8px;
}

#UnassignedPlayersButton {
    flow-children: down;
    height: 667px;
    max-height: 680px;
    margin-top: 128px;
    width: 100%;
    background-color: #000000BA;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #444444;
}

#UnassignedPlayersHeader {
    horizontal-align: left;
    margin-top: 16px;
    margin-left: 16px;
}

#UnassignedPlayersHeader Label {
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    margin-left: 50px;
    transition-property: color;
    transition-duration: 0.2s;
    margin-top: -9px;
}


#UnassignedPlayersButton:hover #UnassignedPlayersHeader Label {
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}


#UnassignedPlayersDivider {
    width: 100%;
    height: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: gray;
}

#UnassignedPlayersContainer {
    width: 100%;
    flow-children: down;
    overflow: clip scroll;
    margin: 16px;
}

#AutoAssignButton {
    height: 32px;
    margin-top: 188px;
    margin-left: 10px;
    vertical-align: top;
    horizontal-align: left;
    flow-children: right;
    visibility: collapse;
    border-radius: 8px;
}

.player_has_host_privileges #AutoAssignButton {
    visibility: visible;
}

#AutoAssignButton Label {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 5px;
    color: white;
    vertical-align: center;
}

.unassigned_players #AutoAssignButton:hover Label {
    color: white;
}

.unassigned_players #AutoAssignButton:active {
    sound: "ui_team_select_auto_assign";
}

#AutoAssignButton Image {
    width: 22px;
    height: 22px;
    wash-color: orange;
    vertical-align: center;
    margin-top: 4px;
}

.unassigned_players #AutoAssignButton:hover Image {
    wash-color: white;
}

#LockAndStartButton {
    horizontal-align: right;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#2d4881cc), to(#486ca9cc));
    box-shadow: fill #486ca922 -4px -4px 8px 8px;
    border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03;
    visibility: collapse;
    margin-left: 0px;
    margin-right: 74px;
    border-radius: 8px;
}

#OptionList {
    width: 400px;
    height: 230px;
    flow-children: down;
    animation-name: TeamsListAppear;
    animation-duration: 0.75s;
    margin-top: 10px;
    background-color: #000000BA;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #444444;
}

#OptionListGroup {
    width: 100%;
    height: 100%;
    padding: 8px;
    vertical-align: middle;
    border-radius: 8px;
    flow-children: down;
}

#OptionTitle {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    margin-top: 0px;
    horizontal-align: center;
    font-family: Arial;
    margin-top: 5px;
    transition-property: color;
    transition-duration: 0.2s;
}

#Advanced {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    white-space: nowrap;
    font-size: 15px;
    letter-spacing: 1px;
    color: orange;
    margin-top: 0px;
    horizontal-align: right;
    vertical-align: bottom;
    transition-property: color;
    transition-duration: 0.2s;
}

#Advanced:hover {
    color: white;
}

#OptionDivider {
    width: 100%;
    height: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: gray;
}

#Options {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    flow-children: down;
    margin-left: 5px;
}

.OptionsContainer {
    flow-children: right;
    width: 100%;
}

.OptionsContainer>Label {
    font-size: 20px;
    margin-top: 5px;
}

.OptionsContainer>DropDown {
    max-width: 200px;
    horizontal-align: right;
}

DropDownMenu {
    max-width: 200px;
}

.AutoAssignButtonNew {
    width: 180px;
    height: 40px;
    align: center center;
    margin-top: -340px;
    margin-right: 5px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#2d4881cc), to(#486ca9cc));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    box-shadow: fill #486ca922 -4px -4px 8px 8px;
    border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03;
    border-radius: 8px;
}

.ShuffleTeamAssignmentButtonNew {
    width: 180px;
    height: 40px;
    align: center center;
    margin-top: -340px;
    margin-right: -395px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#2d4881cc), to(#486ca9cc));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    box-shadow: fill #486ca922 -4px -4px 8px 8px;
    border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03;
    border-radius: 8px;
}

.ShuffleTeamAssignmentButtonNew:hover {}

.AutoAssignButtonNew:hover {}

#ShuffleTeamAssignmentButtonNew:hover {
    background-color: red;
}

#AutoAssignButtonNew:hover {
    background-color: red;
}

#AssignLabel {
    font-size: 18px;
    text-align: center;
    vertical-align: center;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    width: 100%;
}

.unassigned_players #LockAndStartButton {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#14161a), to(#23262b));
    box-shadow: fill #00000000 0px 0px 0px 0px;
    border-top: 1px solid #ffffff03;
    border-left: 1px solid #ffffff03;
}

#LockAndStartButton Label {
    transition-property: opacity;
    transition-duration: 0.2s;
}

.unassigned_players #LockAndStartButton Label {
    opacity: 0.1;
}

.player_has_host_privileges #LockAndStartButton {
    visibility: visible;
}

.teams_locked #LockAndStartButton {
    visibility: collapse;
}

.no_unassigned_players #LockAndStartButton:hover {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#2d4881cc), to(#84acff));
    box-shadow: fill #486ca966 -4px -4px 18px 8px;
}

.no_unassigned_players #LockAndStartButton:active {
    sound: "ui_team_select_lock_and_start";
}

#CancelAndUnlockButton {
    horizontal-align: right;
    visibility: collapse;
    margin-left: 0px;
    margin-right: 74px;
    border-radius: 8px;

    background-color: gradient(linear, 0% 0%, 0% 100%, from(#2c1b1b), to(#482e2f));
    box-shadow: fill #552e2f00 -4px -4px 8px 9px;

    border-top: 1px solid #3d2929;
    border-right: 1px solid #372121;
    border-left: 1px solid #372121;
    border-bottom: 1px solid #2e1f21;
}

#CancelAndUnlockButton:hover {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#492121), to(#9d4c4f));
    border-top: 1px solid #7d4141;
    border-right: 1px solid #7a3535;
    border-left: 1px solid #7a3535;
    border-bottom: 1px solid #2e1f21;
    box-shadow: fill #552e2f66 -4px -4px 8px 9px;
}

#CancelAndUnlockButton:active {
    //sound: "ui_custom_lobby_quit";
    sound: "ui_team_select_cancel_and_lock";
}


.player_has_host_privileges.teams_locked #CancelAndUnlockButton {
    visibility: visible;
}



.TeamSelectTeam {
    width: 100%;
    background-color: gradient(linear, 100% 0%, 100% 100%, from(#272b30), color-stop(0.6, #181a1e), to(#181a1e));
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: fill #00000029 0px 0px 16px 0px;
    border-top: 1px solid #ffffff10;
    border-right: 1px solid #000000ff;
    border-left: 1px solid #ffffff10;
    border-bottom: 1px solid #000000ff;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    border-radius: 8px;
}

.TeamSelectTeam.local_player_on_this_team {
    box-shadow: fill #eeeeee09 0px 0px 16px 0px;
    //box-shadow: -3px -3px 12px 6px #FFFFFF22;
}

.TeamSelectTeam:hover {
    //background-color: #272b30dd;
}

#TeamBackgroundGradient {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition-property: background-color, opacity;
    transition-duration: 0.15s;
}

.teams_unlocked .TeamSelectTeam:hover #TeamBackgroundGradient {
    /* visibility: collapse; */
    opacity: 0;
}

#TeamBackgroundGradientHighlight {
    width: 100%;
    height: 100%;
    /* visibility: collapse; */
    opacity: 0;
    transition-property: background-color, opacity;
    transition-duration: 0.15s;
}

.teams_unlocked .TeamSelectTeam:hover #TeamBackgroundGradientHighlight {
    /* visibility: visible; */
    opacity: 1;
}

#TeamGroup {
    background-color: transparent;
    width: 100%;
    margin-top: 5px;
    flow-children: down;
}

#TeamHeader {
    width: 100%;
    flow-children: right;
}

#TeamNameLabel {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: top;
    text-shadow: 2px 2px 2px black;
    margin-top: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    color: orange;
}

#JoinTeamLabel {
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    horizontal-align: right;
    vertical-align: center;
    margin-top: 4px;

    transition-property: color;
    transition-duration: 0.2s;
}

.teams_unlocked .TeamSelectTeam:hover #JoinTeamLabel {
    color: white;
}

.TeamSelectTeam.team_is_full #JoinTeamLabel {
    opacity: 0;
}

.TeamSelectTeam.local_player_on_this_team #JoinTeamLabel {
    opacity: 0;
}

.TeamSelectTeam.local_player_is_ready #JoinTeamLabel {
    opacity: 0;
}

#TeamPlayerDivider {
    width: 340px;
    height: 2px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: gray;
}

#PlayerList {
    width: 100%;
    flow-children: down;
    width: 100%;
}

#player_root {
    width: 100%;
}

.player_slot {
    height: 32px;
    width: 100%;
    flow-children: right;
    margin-top: 2px;
    margin-left: 7px;
}

.TeamSelectPlayer {
    width: 100%;
    flow-children: right;
    vertical-align: middle;
    flow-children: right;
}

DOTAAvatarImage {
    width: 32px;
    height: 32px;
    background-color: black;
    vertical-align: middle;
}

#PlayerIsHostPanel {
    background-image: url("file://{images}/icon_star.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: noclip;
    width: 24px;
    height: 24px;
    visibility: collapse;
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
    visibility: collapse;
}

.TeamSelectPlayer.player_has_host_privileges #PlayerIsHostPanel {
    visibility: visible;
}

#PlayerName {
    color: white;
    vertical-align: middle;
    margin: 3px;
    text-shadow: 2px 2px 2px black;
    width: fill-parent-flow(1);
    white-space: nowrap;
    margin-top: 6px;
}

#PlayerLeaveTeamButton {
    width: 24px;
    height: 24px;
    wash-color: #aa0000ee;

    background-image: url("file://{images}/control_icons/x_close.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 4px;
    margin-right: 17px;
    visibility: collapse;
}

#PlayerLeaveTeamButton:hover {
    wash-color: red;
}

.teams_unlocked .TeamSelectTeam .player_is_local #PlayerLeaveTeamButton {
    visibility: visible;
}

.TeamSelectEmptySlot {
    flow-children: right;
}

.TeamSelectEmptySlot #PlayerName {
    color: #6C6C6C;
    letter-spacing: 1px;
    font-size: 18px;
}

#EmptySlotIcon {
    width: 32px;
    height: 32px;
    opacity: 0.7;
    background-image: url("file://{images}/hero_badges/hero_badge_rank_3_small_png.vtex");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
